<div class="p-2">
    <div class="container p-3 bg-light">
        <div class="row mb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="container">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Id</b>: {{user?.id}}</li>
                            <li class="list-group-item"><b>Firstname</b>: {{user?.firstname}}</li>
                            <li class="list-group-item"><b>Lastname</b>: {{user?.lastname}}</li>
                            <li class="list-group-item"><b>Address</b>: {{user?.address}}</li>
                            <li class="list-group-item"><b>Phone</b>: {{user?.phone}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-4">
                        <button class="btn btn-primary" (click)="editUser()" type="button">Update</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger" (click)="deleteUser()" type="button">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


