<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Firstname</span>
        </div>
        <input class="form-control" formControlName="firstname" id="firstname" type="text" required>
        <div [@openClosed]="(submitted && controls.firstname.errors) ? 'open' : 'closed'" class="warning-container">
            <div><i class="fas fa-exclamation-triangle"></i></div>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
        </div>
        <input class="form-control" formControlName="lastname" id="lastname" type="text" required>
        <div [@openClosed]="(submitted && controls.lastname.errors) ? 'open' : 'closed'" class="warning-container">
            <div><i class="fas fa-exclamation-triangle"></i></div>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        </div>
        <input class="form-control" formControlName="address" id="address" type="text" required>
        <div [@openClosed]="(submitted && controls.address.errors) ? 'open' : 'closed'" class="warning-container">
            <div><i class="fas fa-exclamation-triangle"></i></div>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        </div>
        <input class="form-control" formControlName="phone" id="phone" type="text" required>
        <div [@openClosed]="(submitted && controls.phone.errors) ? 'open' : 'closed'" class="warning-container">
            <div><i class="fas fa-exclamation-triangle"></i></div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row justify-content-around">
            <ng-content></ng-content>
        </div>
    </div>
</form>