<div *ngIf="user !== null; else notFound" class="container p-3 bg-light">
    <h1>User Edit</h1>
    <app-user-form [user]="user" (sub)="send($event)">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-4">
                    <button type="submit" class="btn btn-success">OK</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </app-user-form>
</div>

<ng-template #notFound>
    <app-request-error [status]="reqError.status" [description]="reqError.statusText"></app-request-error>
</ng-template>
