<div class="mt-2 pl-5 pr-5 pb-5 pt-3 bg-light">
    <div class="mb-5">
        <h1 >Add User</h1>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="addUser()">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Firstname</span>
            </div>
            <input class="form-control" formControlName="firstname" id="firstname" type="text" required>
            <div class="warning-container" *ngIf="submitted && constrols.firstname.errors">
                <div *ngIf="constrols.firstname.errors.required"><i class="fas fa-exclamation-triangle"></i></div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
            </div>
            <input class="form-control" formControlName="lastname" id="lastname" type="text" required>
            <div class="warning-container" *ngIf="submitted && constrols.lastname.errors">
                <div *ngIf="constrols.lastname.errors.required"><i class="fas fa-exclamation-triangle"></i></div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            </div>
            <input class="form-control" formControlName="address" id="address" type="text" required>
            <div class="warning-container" *ngIf="submitted && constrols.address.errors">
                <div *ngIf="constrols.address.errors.required"><i class="fas fa-exclamation-triangle"></i></div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
            </div>          
            <input class="form-control" formControlName="phone" id="phone" type="text" required>
            <div class="warning-container" *ngIf="submitted && constrols.phone.errors">
                <div *ngIf="constrols.phone.errors.required"><i class="fas fa-exclamation-triangle"></i></div>
            </div>
        </div>             
        <br><br>

        <div class="container">
            <div class="row justify-content-around">
                <button class="btn btn-outline-success" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>
